# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
vite.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Vite cache
.vite/
